@model BugTracker.Models.ChangePasswordViewModel

<h3 class="control-sidebar-heading"><i class="fa fa-lock"></i> <strong>Change Password</strong></h3>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row center-block">
        Current Password
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @style = "max-width:200px" })
    </div>
    <div class="row center-block">
        New Password
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "max-width:200px" })
    </div>
    <div class="row center-block">
        Confirm New Password
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "max-width:200px" })
    </div>
    <br />
    <div class="row center-block">
        <input type="submit" value="Change password" class="btn center-block" />
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
