@using Microsoft.AspNet.Identity;
@using BugTracker.Models;

@model BugTracker.Models.Ticket

<div class="box box-solid collapsed-box chat-body">
    <div class="box-header">
        <i class="fa fa-comments"></i>
        <h3 class="box-title">
            <strong>Comments</strong>
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-sm" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#comModal">
                <i class="fa fa-expand"></i>
            </button>
            <button type="button" class="btn btn-sm" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="content chat-box back" @*style="max-height:40vh;*@">
            @foreach (var comment in Model.TicketComments)
            {
                <div class="item">
                    <img src="@comment.Author.AvatarUrl" class="img-circle" style="height:40px"> 
                    <strong>@comment.Author.DisplayName</strong>
                    <small class="pull-right">
                        <i class="fa fa-clock-o"></i> @comment.Created.ToString("h:mm tt")
                        <br />@comment.Created.ToString("M/dd/yyy")
                        @if (User.Identity.GetUserId() == comment.AuthorId)
                        {
                            <br />
                            @* This needs to toggle comment and comment edit partial *@
                            <button class="btn btn-xs" data-target="#tickEd">Edit</button>
                            @*@Html.ActionLink("Edit", "Edit", "TicketComments", null, new { Id = comment.Id })*@

                            @* We want this to straight up delete confirm when this is clicked or pop up a delete confirm alert type window *@
                            @: | @Html.ActionLink("Delete", "Delete", "TicketComments", FormMethod.Post, new { Id = comment.Id, ticketId = comment.TicketId })
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <br />
                            @* We want this to straight up delete confirm when this is clicked or pop up a delete confirm alert type window *@
                            @*<button class="btn btn-xs" onclick="@Html.Action("DeleteConfirmed", "TicketComments", new { Id = comment.Id, icketId = comment.TicketId})">Delete</button>*@

                        }
                    </small>
                    <p id="tickCom">
                        @comment.CommentBody
                    </p>
                    @* We want to toggle to this partial when edit is clicked *@
                    <p id="tickEd">
                        @*@Html.Partial("CommentEditPartial", new TicketComment { Id = comment.Id, CommentBody = comment.CommentBody})*@
                    </p>
                    </div>
                    <hr />
                }
        </div>
    </div>
    <div class="box-footer">
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("TicketId", Model.Id);
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" name="CommentBody" placeholder="Add comment..." />
                        <br />
                        <button type="submit" class="btn pull-right"><i class="fa fa-comment-o"></i></button>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!--MODAL-->
<div id="comModal" class="modal fade in">
    <div class="box-content">
        <div class="box-header">
            <i class="fa fa-comments"></i>
            <h3 class="box-title"><strong>Comments</strong></h3>
            <button type="button" class="btn btn-xs pull-right" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="back modal-skroll">
                @foreach (var comment in Model.TicketComments)
                {
                <div class="item">
                    <img src="@comment.Author.AvatarUrl" class="img-circle" style="height:40px"> 
                    <strong>@comment.Author.DisplayName</strong>
                    <small class="pull-right">
                        <i class="fa fa-clock-o"></i> @comment.Created.ToString("h:mm tt")<br />@comment.Created.ToString("M/dd/yyy")
                        @*@if (User.Identity.GetUserId() == comment.Author.Id)
                        {
                            <br />@Html.ActionLink("Edit", "Edit", "TicketComments", new { Id = comment.Id })
                            @: | @Html.ActionLink("Delete", "Delete", "TicketComments", new { Id = comment.Id })
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <br />@Html.ActionLink("Delete", "Delete", "TicketComments", new { Id = comment.Id })
                        }*@
                    </small>
                    <p>
                        @comment.CommentBody
                    </p>
                </div>
                    <hr />
                }

            </div>
        </div>
        <div class="box-footer">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id);
                    @Html.Hidden("TicketId", Model.Id);
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" name="CommentBody" placeholder="Add comment..." />
                            <br />
                            <button type="submit" class="btn pull-right"><i class="fa fa-comment-o"></i></button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


