@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;


@model BugTracker.Models.Ticket

<div class="box box-solid">
    <div class="box-header">
        <i class="fa fa-header"></i>
        <h3 class="box-title">
            <strong>History</strong>
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-sm" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#hisModal">
                <i class="fa fa-expand"></i>
            </button>
            <button type="button" class="btn btn-sm" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="content back his-box">
            <ul class="timeline">
                @foreach (var date in Model.TicketHistories.OrderByDescending(t => t.Updated).GroupBy(t => t.Updated.ToString("dd, MMM yyyy")))
                {
                    var target = date.Key.Replace(" ", "").Replace(",", "");
                    <li class="time-label" data-toggle="collapse" data-target="@($".{target}")">
                        <span class="bg-aqua">@date.Key</span>
                    </li>
                    foreach (var item in date)
                    {
                        <li class="@target collapse in">
                            <div class="timeline-item">
                                <img src="@item.User.AvatarUrl" class="img-circle pull-left" style="height:30px;">
                                <span class="time"><i class="fa fa-clock-o"></i> @item.Updated.ToString("h:mm tt")</span>
                                <h3 class="timeline-header"> @item.User.FirstName @item.User.LastName</h3>
                                <div class="timeline-body">
                                    @item.User.FirstName changed the @item.PropertyName from "@item.OldValue" to "@item.NewValue".
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <!--MODAL-->
    <div id="hisModal" class="modal fade">
        <div class="box-content">
            <div class="box-header">
                <i class="fa fa-header"></i>
                <h3 class="box-title"><strong>History</strong></h3>
                <button type="button" class="btn btn-xs pull-right" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="back hismodal-skroll">
                    <ul class="timeline">
                        @foreach (var date in Model.TicketHistories.OrderByDescending(t => t.Updated).GroupBy(t => t.Updated.ToString("dd, MMM yyyy")))
                        {
                            var target = date.Key.Replace(" ", "").Replace(",", "");
                            <li class="time-label" data-toggle="collapse" data-target="@($".{target}")">
                                <span class="bg-aqua">@date.Key</span>
                            </li>
                            foreach (var item in date)
                            {
                                <li class="@target collapse in">
                                    <div class="timeline-item">
                                        <img src="@item.User.AvatarUrl" class="img-circle pull-left" style="height:30px;">
                                        <span class="time"><i class="fa fa-clock-o"></i> @item.Updated.ToString("h:mm tt")</span>
                                        <h3 class="timeline-header"> @item.User.FirstName @item.User.LastName</h3>
                                        <div class="timeline-body">
                                            @item.User.FirstName changed the @item.PropertyName from "@item.OldValue" to "@item.NewValue".
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>