@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@{
    var projectHelper = new ProjectHelper();
    var userId = User.Identity.GetUserId();
}

<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        @if (ProjectHelper.GetNewUserNotificationCount() != 0)
        {
            <span class="label">
                @ProjectHelper.GetNewUserNotificationCount()
            </span>
        }
    </a>
    <!--Generate notifications here-->
    <ul class="dropdown-menu">
        @if (ProjectHelper.GetNewUserNotificationCount() != 0)
        {
            <li class="header">
                New
                <span class="pull-right">
                    @using (Html.BeginForm("MarkAllAsRead", "Projects"))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" onclick = "$(this).closest('form').submit();" > Mark All As Read </a>
                    }
                </span>
            </li>
        }
        <li>
            <ul class="menu">
                @foreach (var notification in ProjectHelper.GetUnreadNotifications().OrderByDescending(p => p.Created).Take(5))
                {
                    using (Html.BeginForm("MarkAsRead", "Projects"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("NotificationId", notification.Id)
                        <li class="hover">
                            @if (projectHelper.IsUserOnProject(userId, notification.Project.Id))
                            {
                                <a href="#" onclick="$(this).closest('form').submit();">
                                    <img src="@notification.Sender.AvatarUrl" class="img-circle" style="height:20px;" /> @notification.Sender.DisplayName @notification.Subject
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="$(this).closest('form').submit();">
                                    <img src="@notification.Sender.AvatarUrl" class="img-circle" style="height:20px;" /> @notification.Sender.DisplayName @notification.Subject
                                </a>
                            }
                        </li>
                    }
                }
            </ul>
        </li>
        @if (ProjectHelper.GetReadUserNotificationCount() != 0)
        {
            <li class="header">Earlier</li>
        }
        <li>
            <ul class="menu">
                @foreach (var notification in ProjectHelper.GetReadNotifications().OrderByDescending(t => t.Created).Take(5 - ProjectHelper.GetNewUserNotificationCount()))
                {
                    <li class="hover">
                        @if (projectHelper.IsUserOnProject(userId, notification.Project.Id))
                        {
                            <a href="@Url.Action("Details", "Projects", new { Id = notification.Project.Id })">
                                <img src="@notification.Sender.AvatarUrl" class="img-circle" style="height:20px;" /> @notification.Sender.DisplayName @notification.Subject
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <img src="@notification.Sender.AvatarUrl" class="img-circle" style="height:20px;" /> @notification.Sender.DisplayName @notification.Subject
                            </a>
                        }
                    </li>
                }
            </ul>
        </li>
    </ul>
</li>