@using BugTracker.Helpers;
@using BugTracker.Models;
@using Microsoft.AspNet.Identity;

@model BugTracker.Models.TicketViewModel

@{
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var projectHelper = new ProjectHelper();
}


@using (Html.BeginForm("Edit", "Tickets", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(model => model.Id);
    @Html.HiddenFor(model => model.ProjectId);
    @Html.HiddenFor(model => model.Created);
    @Html.HiddenFor(model => model.CurrentAssignee);
    @Html.HiddenFor(model => model.CurrentStatusId);
    <tr>
        <td>@db.Users.Find(Model.Submitter).FullName</td>
        @if (Model.CurrentAssignee == null)
        {
            <td>Unassigned</td>
        }
        else
        {
            <td>@db.Users.Find(Model.CurrentAssignee).FullName</td>
        }
        <td>@db.TicketStatuses.Find(Model.CurrentStatusId).Name</td>
        @if (projectHelper.IsUserOnProject(userId, Model.ProjectId))
        {
            <td>
                @Html.DropDownList("Priorities", Model.Priorities, new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownList("Types", Model.Types, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            </td>
        }
        else
        {
            <td>@Model.CurrentPriorityId</td>
            <td>@Model.CurrentTypeId</td>
            <td>@Model.Description</td>
        }
        <td>@Model.Created</td>
        <td>@Model.Updated</td>
        <td class="edit-cell">

    <input type="submit" value="Edit" class="btn pull-right form-control" />
        </td>
    </tr>
}
