@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<div class="box-header">
    <i class="fa fa-trash"></i>
    <h3 class="box-title">
        <strong>Delete</strong>
    </h3>
</div>
<div class="body">
    <section class="content render-box">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-trash"></i>
                        <h3 class="box-title">
                            <strong>Delete @Model.Title?</strong>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="content another-box back">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.AssignedToUser)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AssignedToUser.FullName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.OwnerUser)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.OwnerUser.FullName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Project)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Project.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketPriority)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketPriority.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketStatus)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketStatus.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketType)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketType.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Created)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Created)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Updated)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Updated)
                                </dd>

                            </dl>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions pull-right">
                                @Html.ActionLink("Cancel", "Details", "Tickets", new { Id = Model.Id }, new { @class = "btn" })
                                <input type="submit" value="Delete" class="btn" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>