@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@model BugTracker.Models.Ticket

@{
    var userId = User.Identity.GetUserId();
    var fileHelper = new FileHelper();
    var ticketHelper = new TicketHelper();
    var userProjectsHelper = new UserProjectsHelper();
    var roleHelper = new UserRolesHelper();
}
<link href="~/Content/Custom.css" rel="stylesheet" />

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <strong>@Model.Title Dashboard</strong>
                    </h3>
                    <section class="content">
                        <!-- Main row -->
                        <div class="row">
                            <div class="col-md-12 connectedSortable">
                                <div class="box box-solid bg-green-gradient">
                                    <div class="box-header bg-green-active">
                                        <!-- tools box -->
                                        <h3 class="box-title">
                                            <strong>@Model.Title Info</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-green btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-green btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-green">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-green-active">
                                                <tr>
                                                    <th>Submitter</th>
                                                    <th>Assigned User</th>
                                                    <th>Status</th>
                                                    <th>Priority</th>
                                                    <th>Type</th>
                                                    <th>Description</th>
                                                    <th>Created</th>
                                                    <th>Updated</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") && userProjectsHelper.IsOnProject(userId, Model.ProjectId))
                                                {
                                                    using (Html.BeginForm("Edit", "Tickets"))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                        @Html.HiddenFor(model => model.Id);
                                                        @Html.HiddenFor(model => model.ProjectId);
                                                        @Html.HiddenFor(model => model.Created);
                                                        <tr>
                                                            <td>@Model.OwnerUser.FullName</td>
                                                            <td>@Html.DropDownList("Developer", null, ticketHelper.TicketAssignee(Model.Id), new { @class = "form-control" })</td>
                                                            <td>
                                                                @Html.DropDownList("TicketStatusId", null, new { @class = "form-control" })
                                                            </td>
                                                            <td>
                                                                @Html.DropDownList("TicketPriorityId", null, new { @class = "form-control" })
                                                            </td>
                                                            <td>
                                                                @Html.DropDownList("TicketTypeId", null, new { @class = "form-control" })
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.Description, null, new { @class = "form-control" })
                                                            </td>
                                                            <td>@Model.Created.ToString("MM/d/yyyy")</td>
                                                            <td>@Model.Updated</td>
                                                            <td>
                                                                <input type="submit" value="Edit" class="btn btn-default" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    using (Html.BeginForm("Edit", "Tickets"))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                        @Html.HiddenFor(model => model.Id);
                                                        @Html.HiddenFor(model => model.ProjectId);
                                                        @Html.HiddenFor(model => model.Created);
                                                        <tr>
                                                            <td>@Model.OwnerUser.FullName</td>
                                                            @if (Model.AssignedToUserId == null)
                                                            {
                                                                <td>Unassigned</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@Model.AssignedToUser.FullName</td>
                                                            }
                                                            <td>@Model.TicketStatus.Name</td>
                                                            @if (User.IsInRole("Project Manager") && userProjectsHelper.IsOnProject(userId, Model.ProjectId))
                                                            {
                                                                <td>
                                                                    @Html.DropDownList("TicketPriorityId", null, new { @class = "form-control" })
                                                                </td>
                                                                <td>
                                                                    @Html.DropDownList("TicketTypeId", null, new { @class = "form-control" })
                                                                </td>
                                                                <td>
                                                                    @Html.EditorFor(model => model.Description, null, new { @class = "form-control" })
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>@Model.TicketPriority.Name</td>
                                                                <td>@Model.TicketType.Name</td>
                                                                <td>@Model.Description</td>
                                                            }
                                                            <td>@Model.Created.ToString("MM/d/yyyy")</td>
                                                            <td>@Model.Updated</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 connectedSortable">
                                <div class="box box-solid bg-aqua-gradient">
                                    <div class="box-header bg-aqua-active">
                                        <h3 class="box-title">
                                            <strong>@Model.Project.Name Info</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-aqua btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-aqua btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-aqua">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-aqua-active">
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Other Tickets On This Project</th>
                                                    <th>Additional Information</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                <tr>
                                                    <td>@Model.Project.Description</td>
                                                    <td>
                                                        @foreach (var ticks in ticketHelper.TicketsOnProject(Model.Project.Id).OrderBy(t => t.TicketPriority.Id))
                                                        {
                                                            <a href="@Url.Action("Details", "Tickets", new { Id = ticks.Id })">
                                                                <i class="fa fa-circle @ticketHelper.TicketsByPriority(ticks.TicketPriority.Name)"></i> @ticks.Title
                                                            </a><br />
                                                        }
                                                    </td>
                                                    <td>
                                                        <button><a href="@Url.Action("Details", "Projects", new { Id = Model.Project.Id })">Project Details</a></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 connectedSortable">
                                <div class="box box-solid bg-teal-gradient">
                                    <div class="box-header bg-teal-active">
                                        <!-- tools box -->
                                        <h3 class="box-title">
                                            <strong>Team Info</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-teal btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-teal">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-teal-active">
                                                <tr>
                                                    <th>Project Members</th>
                                                    <th>Ticket Count</th>
                                                    <th>Contact</th>
                                                    <th>Roles</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                @foreach (var users in userProjectsHelper.ListUsersOnProject(Model.Project.Id))
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@users.AvatarUrl" class="img-circle" style="height:20px" /> @users.FullName
                                                            @if (users.Id == Model.AssignedToUserId)
                                                            {
                                                                @: - Assigned User
                                                            }
                                                            <br />
                                                        </td>
                                                        <td>@ticketHelper.MyTickets(users.Id, roleHelper.ListUserRoles(users.Id).FirstOrDefault()).Count()</td>
                                                        <td>@users.Email</td>
                                                        <td>@roleHelper.ListUserRoles(users.Id).FirstOrDefault()</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 connectedSortable">
                                <div class="box box-solid bg-maroon-gradient" id="notify">
                                    <div class="box-header bg-maroon-active">
                                        <h3 class="box-title">
                                            <strong>Notifications</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-maroon btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-maroon btn-sm" id="notBtn">
                                                <i class="fa fa-expand"></i>
                                            </button>
                                            <button type="button" class="btn bg-maroon btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-maroon">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-maroon-active">
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Name</th>
                                                    <th>Submitter</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                <tr>
                                                    <td>icon</td>
                                                    <td>title</td>
                                                    <td>name</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 connectedSortable">
                                <div class="box box-solid bg-purple-gradient" id="history">
                                    <div class="box-header bg-purple-active">
                                        <h3 class="box-title">
                                            <strong>History</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-purple btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-purple btn-sm" id="hisBtn">
                                                <i class="fa fa-expand"></i>
                                            </button>
                                            <button type="button" class="btn bg-purple btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-purple">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-purple-active">
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Name</th>
                                                    <th>Submitter</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                <tr>
                                                    <td>icon</td>
                                                    <td>title</td>
                                                    <td>name</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 connectedSortable">
                                <div class="box box-solid bg-red-gradient" id="comm">
                                    <div class="box-header bg-red-active">
                                        <h3 class="box-title">
                                            <strong>Comments</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-red btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-red btn-sm" id="comBtn">
                                                <i class="fa fa-expand"></i>
                                            </button>
                                            <button type="button" class="btn bg-red btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-red">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-red-active">
                                                <tr>
                                                    <th>Commentor</th>
                                                    <th>Message</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                @foreach (var comment in Model.TicketComments)
                                                {
                                                    <tr>
                                                        <td>@comment.Author.AvatarUrl @comment.Author.FullName</td>
                                                        <td>@comment.CommentBody <br /></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 connectedSortable">
                                <div class="box box-solid bg-orange-gradient" id="attachment">
                                    <div class="box-header bg-orange-active">
                                        <h3 class="box-title">
                                            <strong>Attachments</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-orange btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-orange btn-sm" id="attBtn">
                                                <i class="fa fa-expand"></i>
                                            </button>
                                            <button type="button" class="btn bg-orange btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-orange">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-orange-active">
                                                <tr>
                                                    <th>Image</th>
                                                    <th>File Name</th>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Created</th>
                                                    <th>Submitter</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                @foreach (var attachment in Model.TicketAttachments)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@FileHelper.GetIconPath(attachment.AttachmentUrl)" />
                                                        </td>
                                                        <td>
                                                            <a target="_blank" href="@attachment.AttachmentUrl">@Path.GetFileNameWithoutExtension(attachment.AttachmentUrl)</a>
                                                        </td>
                                                        <td>@attachment.Title</td>
                                                        <td>@attachment.Description</td>
                                                        <td>@attachment.Created.ToString("MMMM d, yyyy")</td>
                                                        <td>@attachment.User.FullName</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 connectedSortable">
                                <div class="box box-solid bg-olive-gradient">
                                    <div class="box-header bg-olive-active">
                                        <h3 class="box-title">
                                            <strong>Add Comment</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-olive btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-olive btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-olive">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-olive-active">
                                                <tr>
                                                    <th>Submitter</th>
                                                    <th>Comment</th>
                                                </tr>
                                            </thead>
                                            <tbody style="color:black;">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <tr>
                                                        <td>icon name</td>
                                                        <td>
                                                            @using (Html.BeginForm("CreateComment", "Tickets", FormMethod.Post))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.HiddenFor(model => model.Id);
                                                                @Html.Hidden("TicketId", Model.Id);
                                                                <textarea class="container-fluid" name="CommentBody" placeholder="Add Comment..."></textarea>
                                                                <button class="btn btn-default" type="submit">Comment</button>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 connectedSortable">
                                <div class="box box-solid bg-blue-gradient">
                                    <div class="box-header bg-blue-active">
                                        <h3 class="box-title">
                                            <strong>Add Attachment</strong>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn bg-blue btn-sm" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn bg-blue btn-sm" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body bg-blue">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @if (DecisionHelper.TicketEditable(Model))
                                                {
                                                    using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.HiddenFor(model => model.Id);
                                                        @Html.Hidden("TicketId", Model.Id)
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                @Html.TextBox("AttachmentTitle", null, new { @class = "form-control col-fill-input", placeholder = "title" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                @Html.TextBox("AttachmentDescription", null, new { @class = "form-control col-fill-textarea", rows = "5", cols = "150", placeholder = "description" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="file" name="attahment" />
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <button class="btn btn-primary btn-small" type="submit">ADD ATTACHMENT</button>
                                                            </div>
                                                        </div>
                                                    };
                                                }
                                            </div>
                                        </div>
                                        @*<table class="table table-bordered table-striped">
                                                <thead class="bg-blue-active">
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Name</th>
                                                        <th>Submitter</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="color:black;">
                                                    <tr>
                                                        <td>icon</td>
                                                        <td>title</td>
                                                        <td>name</td>
                                                    </tr>
                                                </tbody>
                                            </table>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back To Dashboard", "Index", "Home")
        </div>
    </div>
</section>

@section scripts{
    <script>
        $("#notBtn").click(function (e) {
            $("#notify").toggleClass("fullscreen");
        });
        $("#hisBtn").click(function (e) {
            $("#history").toggleClass("fullscreen");
        });
        $("#comBtn").click(function (e) {
            $("#comm").toggleClass("fullscreen");
        });
        $("#attBtn").click(function (e) {
            $("#attachment").toggleClass("fullscreen");
        });
    </script>
}