@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@model BugTracker.Models.Ticket

@{
    var userId = User.Identity.GetUserId();
    var fileHelper = new FileHelper();
    var ticketHelper = new TicketHelper();
    var userProjectsHelper = new UserProjectsHelper();
    var projectHelper = new ProjectHelper();
    var roleHelper = new UserRolesHelper();
}


<div class="box-header">
    <i class="fa fa-ticket"></i>
    <h3 class="box-title">
        <strong>@Model.Title Dashboard</strong>
    </h3>
</div>
<div class="body">
    <section class="content render-box skroll">
        <div class="row">
            <div id="tix" class="col-md-12">
                @Html.Partial("TicketsPartial")
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 connectedSortable">
                @Html.Partial("HistoryPartial")
            </div>
            <div class="col-md-6 connectedSortable">
                <div class="box box-solid collapsed-box">
                    <div class="box-header">
                        <i class="fa fa-info-circle"></i>
                        <h3 class="box-title">
                            <strong>@Model.Project.Name Info</strong>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-sm" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button type="button" class="btn btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Other Tickets</th>
                                    <th>Additional Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Project.Description</td>
                                    <td class="tickets">
                                        @foreach (var ticks in ticketHelper.TicketsOnProject(Model.Project.Id).OrderBy(t => t.TicketPriorityId))
                                        {
                                            if (ticks.Id != Model.Id)
                                            {
                                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") && projectHelper.IsUserOnProject(userId, ticks.ProjectId) || userId == ticketHelper.TicketAssignee(ticks.Id) || userId == ticks.OwnerUserId)
                                                {
                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(ticks.TicketPriority.Name)"></i>
                                                    <a href="@Url.Action("Details", "Tickets", new { Id = ticks.Id })" class="btn btn-xs btn-default">
                                                        @ticks.Title
                                                    </a><br />
                                                }
                                                else
                                                {
                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(ticks.TicketPriority.Name)"></i> @ticks.Title<br />
                                                }
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Projects", new { Id = Model.Project.Id })" class="btn">Project Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-solid collapsed-box">
                    <div class="box-header">
                        <i class="fa fa-group"></i>
                        <h3 class="box-title">
                            <strong>Team Info</strong>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-sm" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button type="button" class="btn btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Project Members</th>
                                    <th>Ticket Count</th>
                                    <th>Contact</th>
                                    <th>Roles</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var users in userProjectsHelper.ListUsersOnProject(Model.Project.Id))
                                {
                                    <tr>
                                        <td class="mems">
                                            <img src="@users.AvatarUrl" class="img-circle" style="height:20px" /> @users.FullName
                                            @if (users.Id == Model.AssignedToUserId)
                                            {
                                                @: - Assigned User
                                            }
                                            <br />
                                        </td>
                                        <td>@ticketHelper.MyTickets(users.Id, roleHelper.ListUserRoles(users.Id).FirstOrDefault()).Count()</td>
                                        <td>@users.Email</td>
                                        <td>@roleHelper.ListUserRoles(users.Id).FirstOrDefault()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @Html.Partial("AttachmentsPartial")
                @Html.Partial("CommentsPartial")
                <div class="box box-solid collapsed-box">
                    <div class="box-header">
                        <i class="fa fa-trash"></i>
                        <h3 class="box-title">
                            <strong>Delete</strong>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-sm" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button type="button" class="btn btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @using (Html.BeginForm("Delete", "Tickets", FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div class="content back edit-box">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Title)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Created)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Created)
                                    </dd>
                                </dl>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Delete" class="btn pull-right" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
