
@{
    Layout = "/Views/Shared/_SecondLayout.cshtml";
}

    <div class="row">
        <div class="col-xs-6">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoAdminEmail")
                <a href="#" class="demoUser demo-a">
                    <div class="box">
                        <div class="box-header demo-head">
                            <h5>Demo Admin</h5>
                        </div>
                        <div class="demo-back">
                            <img class="img-circle center-block demo-img" src="~/Avatar/bugtrackerfemale5.jpg" />
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="col-xs-6">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoProjectManagerEmail")
                <a href="#" class="demoUser demo-a">
                    <div class="box">
                        <div class="box-header demo-head">
                            <h5 class="widget-user-username">Demo Project Manager</h5>
                        </div>
                        <div class="demo-back">
                            <img class="img-circle center-block demo-img" src="~/Avatar/bugtrackermale5.jpg" />
                        </div>
                    </div>
                </a>
            }
        </div>
        </div>
    <div class="row">

        <div class="col-xs-6">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoDeveloperEmail")
                <a href="#" class="demoUser demo-a">
                    <div class="box">
                        <div class="box-header demo-head">
                            <h5>Demo Developer</h5>
                        </div>
                        <div class="demo-back">
                            <img class="img-circle center-block demo-img" src="~/Avatar/bugtrackerfemale6.jpg" />
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="col-xs-6">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoSubmitterEmail")
                <a href="#" class="demoUser demo-a">
                    <div class="box">
                        <div class="box-header demo-head">
                            <h5>Demo Submitter</h5>
                        </div>
                        <div class="demo-back">
                            <img class="img-circle center-block demo-img" src="~/Avatar/bugtrackermale6.jpg" />
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="row second-center">
        <a href="@Url.Action("Login")" class="text-center">I already have a membership</a>
    </div>
