
@{
    Layout = null;
}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 2 | Dashboard</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <!-- Font Awesome -->
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link href="~/Content/ionicons.min.css" rel="stylesheet" />
        <!-- Theme style -->
        <link href="~/Content/AdminLTE.css" rel="stylesheet" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
        <link href="~/Content/_all-skins.css" rel="stylesheet" />
        <!-- Morris chart -->
        <link href="~/Content/morris.css" rel="stylesheet" />
        <!-- jvectormap -->
        <link href="~/Content/jquery-jvectormap.css" rel="stylesheet" />
        <!-- Date Picker -->
        <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
        <!-- Daterange picker -->
        <link href="~/Content/daterangepicker.css" rel="stylesheet" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="~/Content/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
        <!-- Favicon -->
        <link href="~/favicon-16x16.png" rel="shortcut icon" />
        <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/Custom.css" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("DemoEmail", "DemoAdminEmail")
            <a href="#" class="demoUser">
                <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-aqua-active">
                        <h3 class="widget-user-username">Demo Admin</h3>
                        <h5 class="widget-user-desc"></h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" style="height:100px" src="~/Avatars/bugtrackerfemale5.jpg" />
                    </div>
                    <div class="box-footer"></div>
                </div>
            </a>
        }
    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("DemoEmail", "DemoProjectManagerEmail")
            <a href="#" class="demoUser">
                <div class="box box-widget widget-user">
                    <div class="widget-user-header">
                        <h3 class="widget-user-username">Demo Project Manager</h3>
                        <h5 class="widget-user-desc"></h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" style="height:100px" src="~/Avatars/bugtrackermale5.jpg" />
                    </div>
                    <div class="box-footer"></div>
                </div>
            </a>
        }
    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("DemoEmail", "DemoDeveloperEmail")
            <a href="#" class="demoUser">
                <div class="box box-widget widget-user">
                    <div class="widget-user-header">
                        <h3 class="widget-user-username">Demo Developer</h3>
                        <h5 class="widget-user-desc"></h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" style="height:100px" src="~/Avatars/bugtrackerfemale6.jpg" />
                    </div>
                    <div class="box-footer"></div>
                </div>
            </a>
        }
        </div>
    <div class="col-md-3">
        @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("DemoEmail", "DemoSubmitterEmail")
            <a href="#" class="demoUser">
                <div class="box box-widget widget-user">
                    <div class="widget-user-header">
                        <h3 class="widget-user-username">Demo Submitter</h3>
                        <h5 class="widget-user-desc"></h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" style="height:100px" src="~/Avatars/bugtrackermale6.jpg" />
                    </div>
                    <div class="box-footer"></div>
                </div>
            </a>
        }
    </div>
</div>

<script>
    $(".demoUser").click(function () {
        $(this).closest("form").submit();
    });
</script>
