@using BugTracker.Models;
@using Microsoft.AspNet.Identity;
@using BugTracker.Helpers;
@model IEnumerable<BugTracker.Models.Project>

@{
    var ticketHelper = new TicketHelper();
    var roleHelper = new UserRolesHelper();
    var projectHelper = new ProjectHelper();
    var userProjectsHelper = new UserProjectsHelper();
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    var user = db.Users.Find(userId);
}


<div class="box-header">
    <i></i>
    <h3 class="box-title">
        <strong>Dashboard</strong>
    </h3>
</div>
<div class="body">
    <section class="content render-box">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-inbox"></i>
                        <h3 class="box-title">
                            <strong> Projects - @user.Projects.Count()  |  </strong>
                        </h3>
                        <i class="fa fa-ticket"></i>
                        <h3 class="box-title">
                            <strong> Tickets - @ticketHelper.MyTickets(userId, roleHelper.ListUserRoles(user.Id).FirstOrDefault()).Count()</strong>
                        </h3>
                        <div class="box-tools pull-right">
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                                <button href="#allProjects" type="button" class="btn btn-sm" data-toggle="tab">All Projects</button>
                                <button id="click" href="#myProjects" type="button" class="btn btn-sm" data-toggle="tab">My Projects</button>
                                if (User.IsInRole("Admin"))
                                {
                                    <button href="#allTickets" type="button" class="btn btn-sm" data-toggle="tab">All Tickets</button>
                                }
                                <button href=".myTickets" type="button" class="btn btn-sm" data-toggle="tab">My Tickets</button>
                            }
                            else
                            {
                                <button href="#myProjects" type="button" class="btn btn-sm" data-toggle="tab">My Projects</button>
                                <button href=".myTickets" type="button" class="btn btn-sm" data-toggle="tab">My Tickets</button>
                            }
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="tab-content">
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                                <div class="tab-pane" id="allProjects">
                                    <div class="box-body">
                                        <table class="userTable table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Project Members</th>
                                                    <th>Created</th>
                                                    <th>Tickets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var allProjects in db.Projects.ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("Details", "Projects", new { Id = allProjects.Id })">@Html.DisplayFor(modelItem => allProjects.Name)</a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => allProjects.Description)
                                                        </td>
                                                        <td>
                                                            @foreach (var users in userProjectsHelper.ListUsersOnProject(allProjects.Id).ToList())
                                                            {
                                                                @users.FullName @: ( @foreach(var role in roleHelper.ListUserRoles(users.Id))
                                                                {
                                                                    if (roleHelper.IsUserInRole(users.Id, "Admin"))
                                                                    {
                                                                        @:Admin / Project Manager
                                                                    }
                                                                    else
                                                                    {
                                                                        @role
                                                                    }
                                                                } )<br/>
                                                            }
                                                        </td>
                                                        <td>
                                                            @allProjects.Created
                                                        </td>
                                                        <td>
                                                            @foreach (var tick in ticketHelper.TicketsOnProject(allProjects.Id).OrderBy(t => t.TicketPriority.Id))
                                                            {

                                                                <a href="@Url.Action("Details", "Tickets", new { Id = tick.Id })">
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @tick.Title
                                                                </a><br />}

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="myProjects">
                                    <div class="box-body">
                                        <table class="userTable table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created</th>
                                                    <th>Assigned Users</th>
                                                    <th>Tickets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var myProjects in user.Projects.ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("Details", "Projects", new { Id = myProjects.Id })">@Html.DisplayFor(modelItem => myProjects.Name)</a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Created)
                                                        </td>
                                                        <td>
                                                            @foreach (var users in userProjectsHelper.ListUsersOnProject(myProjects.Id).ToList())
                                                            {
                                                                @users.FullName @: ( @foreach (var role in roleHelper.ListUserRoles(users.Id))
                                                                {
                                                                    if (roleHelper.IsUserInRole(users.Id, "Admin"))
                                                                    {
                                                                        @:Admin / Project Manager
                                                                    }
                                                                    else
                                                                    {
                                                                        @role
                                                                    }
                                                                } )<br />
                                                            }
                                                        </td>
                                                        <td>
                                                            @foreach (var tick in ticketHelper.TicketsOnProject(myProjects.Id).OrderBy(t => t.TicketPriority.Id))
                                                            {
                                                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer") && user.Id == tick.AssignedToUserId || User.IsInRole("Submitter") && user.Id == tick.OwnerUserId)
                                                                {
                                                                    <a href="@Url.Action("Details", "Tickets", new { Id = tick.Id })">
                                                                        <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)
                                                                    </a><br />
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)<br />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                if (User.IsInRole("Admin"))
                                {
                                    <div class="tab-pane active" id="allTickets">
                                        <div class="box-body">
                                            <table class="userTable table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Type</th>
                                                        <th>Project</th>
                                                        <th>Project Members</th>
                                                        <th>Created</th>
                                                        <th>Updated</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="chat-box">
                                                    @foreach (var allTickets in db.Tickets.ToList().OrderBy(t => t.TicketPriority.Id))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="@Url.Action("Details", "Tickets", new { Id = allTickets.Id })">
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(allTickets.TicketPriority.Name)"></i> @allTickets.Title
                                                                </a>
                                                            </td>
                                                            <td>
                                                                @allTickets.Description
                                                            </td>
                                                            <td>
                                                                @allTickets.TicketStatus.Name
                                                            </td>
                                                            <td>
                                                                @allTickets.TicketType.Name
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("Details", "Projects", new { Id = allTickets.Project.Id })">
                                                                    @allTickets.Project.Name
                                                                </a>
                                                            </td>
                                                            <td>
                                                                @foreach (var users in ticketHelper.UsersOnTicket(allTickets.Id))
                                                                {
                                                                    <img src="@users.AvatarUrl" class="img-circle" style="height:20px" /> @users.FullName @:  ( @foreach (var role in roleHelper.ListUserRoles(users.Id))
                                                                    {
                                                                        if (roleHelper.IsUserInRole(users.Id, "Admin"))
                                                                        {
                                                                            @:Admin / Project Manager
                                                                        }
                                                                        else
                                                                        {
                                                                            @role
                                                                        }
                                                                    } )
                                                                    if (users.Id == allTickets.AssignedToUserId)
                                                                    {
                                                                        @: - Assignee
                                                                    }
                                                                    <br />
                                                                }
                                                            </td>
                                                            <td>
                                                                @allTickets.Created
                                                            </td>
                                                            <td>
                                                                @allTickets.Updated
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane myTickets">
                                        <div class="box-body">
                                            <table class="userTable table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Type</th>
                                                        <th>Project</th>
                                                        <th>Project Members</th>
                                                        <th>Created</th>
                                                        <th>Updated</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var myTickets in ticketHelper.MyTickets(user.Id, roleHelper.ListUserRoles(user.Id).FirstOrDefault()).OrderBy(t => t.TicketPriority.Id))
                                                    {
                                                        if (User.IsInRole("Admin") && projectHelper.IsUserOnProject(user.Id, myTickets.Project.Id) || User.IsInRole("Project Manager") || User.IsInRole("Developer") && user.Id == myTickets.AssignedToUserId || User.IsInRole("Submitter") && user.Id == myTickets.OwnerUserId)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="@Url.Action("Details", "Tickets", new { Id = myTickets.Id })">
                                                                        <i class="fa fa-circle @ticketHelper.TicketsByPriority(myTickets.TicketPriority.Name)"></i> @myTickets.Title
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @myTickets.Description
                                                                </td>
                                                                <td>
                                                                    @myTickets.TicketStatus.Name
                                                                </td>
                                                                <td>
                                                                    @myTickets.TicketType.Name
                                                                </td>
                                                                <td>
                                                                    <a href="@Url.Action("Details", "Projects", new { Id = myTickets.Project.Id })">
                                                                        @myTickets.Project.Name
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @foreach (var users in ticketHelper.UsersOnTicket(myTickets.Id))
                                                                    {
                                                                        <img src="@users.AvatarUrl" class="img-circle" style="height:20px" /> @users.FullName @:  ( @foreach (var role in roleHelper.ListUserRoles(users.Id))
                                                                        {
                                                                            if (roleHelper.IsUserInRole(users.Id, "Admin"))
                                                                            {
                                                                                @:Admin / Project Manager
                                                                            }
                                                                            else
                                                                            {
                                                                                @role
                                                                            }
                                                                        } )
                                                                        if (users.Id == myTickets.AssignedToUserId)
                                                                        {
                                                                            @: - Assigned User
                                                                        }
                                                                        <br />
                                                                    }
                                                                </td>
                                                                <td>@myTickets.Created</td>
                                                                <td>@myTickets.Updated</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane active myTickets">
                                        <div class="box-body">
                                            <table class="userTable table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Type</th>
                                                        <th>Project</th>
                                                        <th>Project Members</th>
                                                        <th>Created</th>
                                                        <th>Updated</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var myTickets in ticketHelper.MyTickets(user.Id, roleHelper.ListUserRoles(user.Id).FirstOrDefault()).OrderBy(t => t.TicketPriority.Id))
                                                    {
                                                        if (User.IsInRole("Admin") && projectHelper.IsUserOnProject(user.Id, myTickets.Project.Id) || User.IsInRole("Project Manager") || User.IsInRole("Developer") && user.Id == myTickets.AssignedToUserId || User.IsInRole("Submitter") && user.Id == myTickets.OwnerUserId)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="@Url.Action("Details", "Tickets", new { Id = myTickets.Id })">
                                                                        <i class="fa fa-circle @ticketHelper.TicketsByPriority(myTickets.TicketPriority.Name)"></i> @myTickets.Title
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @myTickets.Description
                                                                </td>
                                                                <td>
                                                                    @myTickets.TicketStatus.Name
                                                                </td>
                                                                <td>
                                                                    @myTickets.TicketType.Name
                                                                </td>
                                                                <td>
                                                                    <a href="@Url.Action("Details", "Projects", new { Id = myTickets.Project.Id })">
                                                                        @myTickets.Project.Name
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @foreach (var users in ticketHelper.UsersOnTicket(myTickets.Id))
                                                                    {
                                                                        <img src="@users.AvatarUrl" class="img-circle" style="height:20px" /> @users.FullName @:  ( @foreach (var role in roleHelper.ListUserRoles(users.Id))
                                                                        {
                                                                            if (roleHelper.IsUserInRole(users.Id, "Admin"))
                                                                            {
                                                                                @:Admin / Project Manager
                                                                            }
                                                                            else
                                                                            {
                                                                                @role
                                                                            }
                                                                        } )
                                                                        if (users.Id == myTickets.AssignedToUserId)
                                                                        {
                                                                            @: - Assigned User
                                                                        }
                                                                        <br />
                                                                    }
                                                                </td>
                                                                <td>@myTickets.Created</td>
                                                                <td>@myTickets.Updated</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="tab-pane active myTickets">
                                    <div class="box-body">
                                        <table class="userTable table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th>Type</th>
                                                    <th>Projects</th>
                                                    <th>Project Members</th>
                                                    <th>Created</th>
                                                    <th>Updated</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var myTickets in ticketHelper.MyTickets(user.Id, roleHelper.ListUserRoles(user.Id).FirstOrDefault()).OrderBy(t => t.TicketPriority.Id))
                                                {
                                                    if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer") && user.Id == myTickets.AssignedToUserId || User.IsInRole("Submitter") && user.Id == myTickets.OwnerUserId)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="@Url.Action("Details", "Tickets", new { Id = myTickets.Id })">
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(myTickets.TicketPriority.Name)"></i> @myTickets.Title
                                                                </a>
                                                            </td>
                                                            <td>
                                                                @myTickets.Description
                                                            </td>
                                                            <td>
                                                                @myTickets.TicketStatus.Name
                                                            </td>
                                                            <td>
                                                                @myTickets.TicketType.Name
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("Details", "Projects", new { Id = myTickets.Project.Id })">
                                                                    @myTickets.Project.Name
                                                                </a>
                                                            </td>
                                                            <td>
                                                                @foreach (var users in ticketHelper.UsersOnTicket(myTickets.Id))
                                                                {
                                                                    <img src="@users.AvatarUrl" class="img-circle" style="height:20px" /> @users.FullName @: ( @foreach (var role in roleHelper.ListUserRoles(users.Id))
                                                                    {
                                                                        if (roleHelper.IsUserInRole(users.Id, "Admin"))
                                                                        {
                                                                            @:Admin / Project Manager
                                                                        }
                                                                        else
                                                                        {
                                                                            @role
                                                                        }
                                                                    } )
                                                                    if (users.Id == myTickets.AssignedToUserId)
                                                                    {
                                                                        @: - Assigned User
                                                                    }
                                                                    <br />
                                                                }
                                                            </td>
                                                            <td>@myTickets.Created</td>
                                                            <td>@myTickets.Updated</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="myProjects">
                                    <div class="box-body">
                                        <table class="userTable table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created</th>
                                                    <th>Project Members</th>
                                                    <th>Tickets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var myProjects in user.Projects.ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("Details", "Projects", new { Id = myProjects.Id })">@Html.DisplayFor(modelItem => myProjects.Name)</a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => myProjects.Created)
                                                        </td>
                                                        <td>
                                                            @foreach (var users in userProjectsHelper.ListUsersOnProject(myProjects.Id).ToList())
                                                            {
                                                                @users.FullName @: ( @foreach (var role in roleHelper.ListUserRoles(users.Id))
                                                                {
                                                                    if (roleHelper.IsUserInRole(users.Id, "Admin"))
                                                                    {
                                                                        @:Admin / Project Manager
                                                                    }
                                                                    else
                                                                    {
                                                                        @role
                                                                    }
                                                                } )<br />
                                                            }
                                                        </td>
                                                        <td>
                                                            @foreach (var tick in ticketHelper.TicketsOnProject(myProjects.Id).OrderBy(t => t.TicketPriority.Id))
                                                            {
                                                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer") && user.Id == tick.AssignedToUserId || User.IsInRole("Submitter") && user.Id == tick.OwnerUserId)
                                                                {
                                                                    <a href="@Url.Action("Details", "Tickets", new { Id = tick.Id })">
                                                                        <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)
                                                                    </a><br />
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-circle @ticketHelper.TicketsByPriority(tick.TicketPriority.Name)"></i> @Html.DisplayFor(modelItem => tick.Title)<br />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
=            </div>
        </div>
    </section>
</div>
