@using BugTracker.Models;
@using BugTracker.Helpers;

@model IEnumerable<UserProfileViewModel>
@{ 
    var roleHelper = new UserRolesHelper();
}
    <section class="content">
        <h2>Users</h2>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Assign User Roles</h3>
                    </div>
                    <div class="box-body">
                        <table id="userTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Assign Role</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    using (Html.BeginForm("AssignRoles", "Admin"))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("userId", user.Id)
                                        <tr>
                                            @* ADD LINKS TO USER PROFILE VIEWS??? *@
                                            <td>@user.AvatarUrl</td>
                                            <td>@user.LastName, @user.FirstName</td>
                                            <td>@user.Email</td>
                                            <td>
                                                @Html.DropDownList("RoleName", null, roleHelper.ListUserRoles(user.Id).FirstOrDefault(), htmlAttributes: new { @class = "form-control" })
                                            </td>
                                            <td class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Assign" class="btn btn-default" />
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                @Html.ActionLink("Back To Dashboard", "Index", "Home")

            </div>
        </div>
    </section>

@section scripts
    {
    <script>
        $("#userTable").DataTable({
            'paging': true,
            'lengthMenu': [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
    </script>
    }