@using BugTracker.Models;
@using BugTracker.Helpers;

@model IEnumerable<UserProfileViewModel>
@{ 
    var roleHelper = new UserRolesHelper();
    var ticketHelper = new TicketHelper();
}

<div class="box-header">
    <i class="fa fa-users"></i>
    <h3 class="box-title">
        <strong> Users</strong>
    </h3>
</div>
<div class="body">
    <section class="content render-box">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-user"></i>
                        <h3 class="box-title">
                            <strong> Assign User Roles</strong>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-sm" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                        </div>
                    </div>
                    <div class="box-body" id="user-box">
                        <div class="body" id="user-skroll">
                            <table class="userTable table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        using (Html.BeginForm("UserIndex", "Admin", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("userId", user.Id)
                                            <tr>
                                                <td class="members"><img src="@user.AvatarUrl" class="img-circle" style="height:25px" />  @user.FirstName @user.LastName</td>
                                                <td><a href="mailto:@user.Email">@user.Email</a></td>
                                                <td>
                                                    @if (ticketHelper.MyTickets(user.Id, "Developer").Count() != 0)
                                                    {
                                                        <h5>Developer is actively assigned</h5>
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownList("roleName", null, roleHelper.ListUserRoles(user.Id).FirstOrDefault(), htmlAttributes: new { @class = "form-control", @style = "width:100%" })
                                                    }
                                                </td>
                                                <td class="edit-cell">
                                                    <div class="col-md-offset-1">
                                                        <button type="submit" class="btn roleChange">Assign</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script>
        $(".roleChange").click(function (event) {
            event.preventDefault();
            $(this).closest("form").submit();
        })
    </script>    
}