@using BugTracker.Helpers;

@model IEnumerable<BugTracker.Models.TicketNotification>

@{
    var ticketHelper = new TicketHelper();
}

<div class="box-header">
    <i class="fa fa-bell"></i>
    <h3 class="box-title">
        <strong> Notifications</strong>
    </h3>
</div>
<div class="body">
    <section class="content render-box">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-bell"></i>
                        <h3 class="box-title">
                            <strong> Your Notifications</strong>
                        </h3>
                    </div>
                    <div class="box-body full-box">
                        <div class="content back full-skroll">
                            <ul class="timeline">
                                @if (User.IsInRole("Admin"))
                                {
                                    foreach (var date in Model.OrderByDescending(t => t.Created).GroupBy(t => t.Created.ToString("dd, MMM yyyy")))
                                    {
                                        var target = date.Key.Replace(" ", "").Replace(",", "");
                                        <li class="time-label" data-toggle="collapse" data-target="@($".{target}")">
                                            <span id="note-date">@date.Key</span>
                                        </li>
                                        foreach (var item in date)
                                        {
                                            <li class="@target collapse in">
                                                <div class="timeline-item">
                                                    <img src="@item.Sender.AvatarUrl" class="img-circle pull-left" style="height:30px;">
                                                    <span class="time"><i class="fa fa-clock-o"></i> @item.Created.ToString("h:mm tt")</span>
                                                    <h3 class="timeline-header"><strong> @item.Sender.DisplayName </strong>@item.Subject</h3>
                                                    <a href="@Url.Action("Details", "Tickets", new { Id = item.Ticket.Id})">
                                                        <div class="timeline-body">
                                                            @item.NotificationBody
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (var date in TicketHelper.GetAllUserNotifications().OrderByDescending(t => t.Created).GroupBy(t => t.Created.ToString("dd, MMM yyyy")))
                                    {
                                        var target = date.Key.Replace(" ", "").Replace(",", "");
                                        <li class="time-label" data-toggle="collapse" data-target="@($".{target}")">
                                            <span id="note-date">@date.Key</span>
                                        </li>
                                        foreach (var item in date)
                                        {
                                            <li class="@target collapse in">
                                                <div class="timeline-item">
                                                    <img src="@item.Sender.AvatarUrl" class="img-circle pull-left" style="height:30px;">
                                                    <span class="time"><i class="fa fa-clock-o"></i> @item.Created.ToString("h:mm tt")</span>
                                                    <h3 class="timeline-header"><strong> @item.Sender.DisplayName </strong>@item.Subject</h3>
                                                    <a href="@Url.Action("Details", "Tickets", new { Id = item.Ticket.Id})">
                                                        <div class="timeline-body">
                                                            @item.NotificationBody
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>