@model BugTracker.Models.Project

@{
    ViewBag.Title = "Delete";
}
<div class="box-header">
    <i class="fa fa-trash"></i>
    <h3 class="box-title">
        <strong>Delete</strong>
    </h3>
</div>
<div class="body">
    <section class="content render-box">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-trash"></i>
                        <h3 class="box-title">
                            <strong>Delete @Model.Name?</strong>
                        </h3>
                        </div>
                        <div class="box-body">
                            <div class="content edit-box back">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Created)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Created)
                                </dd>
                            </dl>
                                </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions pull-right">
                                @Html.ActionLink("Cancel", "Details", "Projects", new { Id = Model.Id }, new { @class = "btn" })
                                <input type="submit" value="Delete" class="btn" />
                            </div>
                        }
                        </div>
                    </div>
                </div>
        </div>
    </section>
</div>
