@using BugTracker.Helpers;
@using BugTracker.Models;
@model BugTracker.Models.Project

@{
    var userProjectsHelper = new UserProjectsHelper();
    var roleHelper = new UserRolesHelper();
}
@{
    ViewBag.Title = "Details";
}

<section class="content">
    <h2>Projects</h2>
    @Html.ActionLink("Create New Project", "Create")
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@Model.Name Details</h3>
                </div>
                <div class="box-body">
                    <table id="userTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created</th>
                                <th>Assigned Users</th>
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    <th>Remove Users</th>
                                }
                                <th>Tickets</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Created)
                                </td>
                                <td>
                                    @foreach (var users in userProjectsHelper.ListUsersOnProject(Model.Id).ToList())
                                    {
                                        @users.FullName @:  ( @foreach (var role in roleHelper.ListUserRoles(users.Id)) {@role} )<br />
                                        @*Html.ActionLink(label including 'users.', action, controller, new { userId = users.Id, something for manage index}, null)*@
                                    }
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        foreach (var users in userProjectsHelper.ListUsersOnProject(Model.Id).ToList())
                                        {
                                            @Html.ActionLink("Remove " + users.FirstName, "RemoveProjectUser", "Admin", new { userId = users.Id, projectId = Model.Id }, null)<br />
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Tickets)
                                </td>
                                <td>

                                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Assign Users To @Model.Name</h3>
                    </div>
                    <div class="box-body">
                        <table id="userTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Project Managers</th>
                                    <th>Developers</th>
                                    <th>Submitters</th>
                                </tr>
                            </thead>
                            <tbody>
                                @using (Html.BeginForm("ManageProjectUsers", "Admin"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("ProjectId", Model.Id)
                                    <tr>
                                        <td>
                                            @Html.ListBox("ProjectManagers")
                                        </td>
                                        <td>
                                            @Html.ListBox("Developers")
                                        </td>
                                        <td>
                                            @Html.ListBox("Submitters")
                                        </td>
                                    </tr>
                                    <tr class="form-group">
                                        <td>

                                            <input type="submit" value="Assign" class="btn btn-default" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<link href="~/Content/Custom.css" rel="stylesheet" />