
@{
    Layout = "/Views/Shared/_SecondLayout.cshtml";
}

@model BugTracker.Models.ForgotPasswordViewModel


    <p class="second-center">
        <br />
        <br />
        Enter your email to receive<br />
        your password reset link.
    </p>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="row has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
            <input type="submit" class="btn" value="Email Link" />
        </div>
    </div>
}
<br />
<br />
<div class="row" style="text-align:center">
    <a href="@Url.Action("Login")" class="text-center">I already have a membership</a><br />
    <a href="@Url.Action("Register")" class="text-center">Register a new membership</a><br />
    <a href="@Url.Action("DemoUser")" class="text-center">Log in as a demo user</a>
</div>