@{
    Layout = "/Views/Shared/_SecondLayout.cshtml";
}

@model BugTracker.Models.ResetPasswordViewModel


<br />
<br />
<p style="text-align:center">Reset your password</p>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="row has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", placeholder = "Email" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="row has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control ", placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="row has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Confirm Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="row">
                <div class="col-xs-offset-8 col-xs-4">
                    <input type="submit" class="btn" value="Reset" />
                </div>
            </div>
        </div>
    </div>
}